* {
    margin:0;
    padding:0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family : "Lucida Grande";
    width : 100%;
}

header {
    height : 70px;
    width : 100%;
    background-color:rgba(0, 0, 0, 0.9);
    margin : 0 auto;
    position : fixed;
    top : 0;
    z-index : 4;
}

.header-list a {
    color : white;
    text-decoration: none;
}

.container p {
    color:white;
    font-size : 24;
}

.header-list {
    display : block;
    float : left;
    padding : 25px 15px;
    font-size : 20px;
    color : white;
    list-style: none;
}

.header-list:hover {
    text-decoration: underline;
    cursor: pointer;
}

.header-logo {
    float : left;
    color : white;
    letter-spacing: 3px;
    padding : 20px;
    font-size : 26px;
}

.header-logo a {
    color : white;
    text-decoration: none;
}

#checkout {
    float : right;
    display : block;
    padding : 18px 15px;
    font-size : 20px;
    list-style: none;
}

#checkout:hover {
    /* text-decoration: underline; */
    cursor: pointer;
}

#siteProfile {
    height : 400px;
    background: red;
}

#siteProfile h1 {
    padding-top: 200px;
    color : black;
    font-size: 60px;
    text-align: center;
}

#siteProfile span {
    color : blue;
}

#showAll {
    text-decoration: underline;
    margin-left: 60px;
}

#showAll:hover {
    color : lightblue;
    cursor: pointer;
}

#count {
    margin-left: 7px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    padding: 10px;
    background: #fff;
    color: #000;
    text-align: center;
    font: 15px Arial, sans-serif;
    display: none;
}

.productContainer {
    margin : 0px 60px;
    display: flex;
    justify-content: space-evenly;
}

.productCard {
    margin-left: 55px;
    margin-top : 60px;
    border: 5px solid black;
    border-radius: 20px;
    padding: 10px;
    width : 200px;
    background: whitesmoke;
}

.productImage {
    width : 100%;
    border: 1px solid black;
    border-radius: 20px;
}

/* modal popup */

#modal {
    background-color: rgba(0,0,0,0.4);
    position : fixed;
    top : 0;
    left :0;
    width : 100%;
    height : 100%;
    display : none;
}

#modalContent {
    background-color: #fefefe;
    margin : 300px auto;
    text-align : center;
    padding : 8px 15px;
    font-size : 20px;
    font-weight : bold;
    width : 50%;
    border-radius : 10px;
}

#closeModalIcon {
    float : right;
    color : #aaa;
    font-size : 25px;
}

#closeModalIcon:hover, 
#closeModalIcon:focus {
    color : #000;
    cursor : pointer;
}

#checkoutTable {
    width: 100%;
}

.addSubstract {
    margin: 0px 15px;
    font-size: 30px;
    font-weight: bold;
    display: inline-block;
}

.addSubstract:hover {
    color: blue;
    cursor: pointer;
}

#buy {
    float : right;
    margin-top: 15px;
    margin-right: 40px;
    padding: 8px 12px;
    background: rgba(95, 80, 232, 0.8);
    color: white;
    font-size: 20px;
    border-radius: 10px;
}

#buy:hover {
    background: rgba(95, 80, 232, 1);
    cursor: pointer;
}